/*覆盖iview的样式*/

.ivu-carousel-arrow.left,.ivu-carousel-arrow.right{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.popRight .ivu-carousel-dots-outside{
  display: inline-block;
  position: absolute;
  top: 0.2rem;
  right: -1rem;
}

.ivu-carousel-dots li.ivu-carousel-active>button{
  background-color: #ffd026;

}

